                       	
<img onerror="this.src='http://vi-digital.com/EBBStetson/AspMushSwiss_2014.png';" src="AspMushSwiss_2014.png" id="tag1" style="display: none;" />

		
<img onerror="this.src='http://vi-digital.com/Corporate---EBB/Mocha_2014.png';" src="Mocha_2014.png" id="tag2" 
             style="position: absolute; "/>

<img onerror="this.src='http://vi-digital.com/EBBStetson/StrawBan_Smoothie_Cropped_4.png';" src="StrawBan_Smoothie_Cropped_4.png" id="tag3" style="display: none;" />

<img onerror="this.src='http://vi-digital.com/lib/morrison/WHC/Club_Thin_2014_0.png';" src="Club_Thin_2014_0.png" id="tag4" style="display: none;" />

(A.)onClick="ClipBoard();"

//set path
ZeroClipboard.setMoviePath('http://davidwalsh.name/demo/ZeroClipboard.swf');
//create client
var clip = new ZeroClipboard.Client();
//event
clip.addEventListener('mousedown',function() {
	clip.setText(document.getElementById('box-content').value);
});
clip.addEventListener('complete',function(client,text) {
	alert('copied: ' + text);
});
//glue it to the button
clip.glue('copy');



	<img id="tag1" src="http://vi-digital.com/EBBStetson/AspMushSwiss_2014.png" style="display: none;"/> 
		<img onerror="this.src='http://vi-digital.com/Corporate---EBB/Mocha_2014.png';" src="Mocha_2014.png"     id="tag2"  style="position: absolute; "/>

		<img
		id="tag3" src="http://vi-digital.com/EBBStetson/StrawBan_Smoothie_Cropped_4.png"
		style="display: none;"/><img id="tag4"
																	  src="http://vi-digital.com/lib/morrison/WHC/Club_Thin_2014_0.png"
																	  
																	  style="display: none;"/>

<img id="tag1" src="http://vi-digital.com/EBBStetson/AspMushSwiss_2014.png" style="display: none;"/> 
<img onerror="this.src='http://vi-digital.com/Corporate---EBB/Mocha_2014.png';" src="Mocha_2014.png"     id="tag2"  style="position: absolute; "/>
<img id="tag3" src="http://vi-digital.com/EBBStetson/StrawBan_Smoothie_Cropped_4.png" style="display: none;"/>
<img id="tag4" src="http://vi-digital.com/lib/morrison/WHC/Club_Thin_2014_0.png" style="display: none;"/>

rgx match between sets of venue tags
(<Venue [\s\S]*?<\/Venue>)

rgx up to MealPeriod
(^[^;]*)(?:\<MealPeriods)

rgx everything between venues
\<Venues([\s\S]*?)Venues\>

rgx within mealperiod, match mealperiod name
\&lt\;MealPeriod name\=\"([\s\S]*?)\"\&gt\;

rgx everything between mealperiods
\<MealPeriods([\s\S]*?)MealPeriods\>




[{"exp_loc":[
"exp_brand",
"exp_org",
"exp_url"
]}]
{
"Fountain View": {
"brand": "campusdining",
"org": "uncg",
"url": "http://campusdining.compass-usa.com/uncg/Pages/SignageXML.aspx?location=Fountain%20View"
}
}

foreach($data[0] as $child) { echo $child . "<br />"; }

"Sentara Obici": {
"brand": "morrisondining",
"org": "sentara",
"url": "http:\/\/morrisondining.compass-usa.com\/sentara\/Pages\/SignageXML.aspx?location=Sentara%20Obici",
"comments": {
    c1:{
        Period: "Breakfast",
        Station: "Buffet",
        Comment: "Continental Breakfast"
    },
    c2:{
        Period: "Lunch",
        Station: "Buffet",
        Comment: "American Grill"
    },
    c3:{
        Period: "Lunch",
        Station: "Create",
        Comment: "Create"
    }
}
}

http://morrisondining.compass-usa.com/UHSAugusta/Pages/SignageXml.aspx
http://morrisondining.compass-usa.com/UHSAugusta/Pages/SignageXml.aspx?location=Retail%20Cafe

http://campusdining.compass-usa.com/uncg/Pages/SignageXML.aspx
http://campusdining.compass-usa.com/uncg/Pages/SignageXML.aspx?location=Bojangles%27
http://campusdining.compass-usa.com/uncg/Pages/SignageXML.aspx?location=Fountain%20View
http://campusdining.compass-usa.com/uncg/Pages/SignageXML.aspx?location=Salsarita%27s

http://morrisondining.compass-usa.com/sentara/Pages/SignageXML.aspx
http://morrisondining.compass-usa.com/sentara/Pages/SignageXML.aspx?location=Mountain%20View%20Cafe
http://morrisondining.compass-usa.com/sentara/Pages/SignageXML.aspx?location=Sentara%20Northern%20Virginia
http://morrisondining.compass-usa.com/sentara/Pages/SignageXML.aspx?location=Sentara%20Obici
http://morrisondining.compass-usa.com/sentara/Pages/SignageXML.aspx?location=Sentara%20Albemarle
http://morrisondining.compass-usa.com/sentara/Pages/SignageXML.aspx?location=Sentara%20Williamsburg

http://morrisondining.compass-usa.com/perrycocafe/Pages/SignageXml.aspx?location=Perry%20County%20Memorial%20Hospital


rgxPat_nl =  
(\r\n|\r|\n)

rgxPat_ws =  
\s+

rgxPat_i =   
((?:\<img)(?:[\w\W]+?)(?:\/\>))

rgxPat_css = 
(style\=\"(?:[\w\W]+?)\")

rgxPat_id  = 
(id\=\"(?:[\w\W]+?)\")

rgxPat_err = 
(onerror\=\"(?:[\w\W]+?)\")

rgxPat_s =   
(src\=\"[\w\W]+?\")

rgxPat_u =   
((?:http|https):\/\/(?:[\w\-_]+(?:(?:\.[\w\-_]+)+))(?:[\w\-\.,@?^=%&amp;:\/~\+#]*[\w\-\@?^=%&amp;\/~\+#])?)

rgxPat_f =   
(\w+\.png)