/* listings
 **************************************************/
.page-contents{
  padding:70px 0;
}
#ajax-single-post{
  position: relative;
}
.loopclass{
  overflow: auto;
  overflow-x:hidden;
  position: absolute;
  top:0;
}


#lstng-grid .mix {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  display: none;
}

.wkitems .item {
  width: 47%;
  float: left;
  margin: 10px;
  overflow: hidden;
  max-height: 135px;
  border: 2px solid #000;
}

.wkitems .listingmain {
  background: #fefefe;
  padding: 10px 25px 15px 25px;
  min-height: 130px;
  position: relative;

  -webkit-box-shadow: 0px 3px 3px -3px #ccc;
  box-shadow: 0px 3px 3px -3px #ccc;
  cursor: pointer;
}
.wkitems .compact{
  min-height: 100px;
}
.wkitems .listingtitle {
  margin: 0;
  padding: 0 0 5px 0;
  font-weight: 600;
}

.wkitems .listingmain div {
  font-size: small;
}

.wkitems .listingmain .label {
  margin-right: 10px;
}

.wkitems .listingmain .listingassets {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fafafa;
  text-align: center;
  border-top: 2px solid;
}

.wkitems .listingmain .listingassets a {
  color: #9b9b9b;
  padding: 5px 15px;
  float: right;
  font-size: 18px;
}

.wkitems .listingmain .listingassets a:hover,.wkitems .listingmain .listingassets a:focus,.wkitems .listingmain .listingassets a.listingcollapse {
  /*background: #03cc85;*/
  color: #fff;
}

.wkitems .listingdetails {
  background: #fff;
  padding: 25px;
  display: none;
}

.wkitems .listingmain .lstngauthor{
  margin:6px 0 0;
}
.wkitems .listingmain .lstngthumb{
  position: absolute;
  top: 0;
  right: 0;
}
